{% extends "proposals/base.html" %}

{% load i18n %}

{% load bootstrap_tags %}

{% block head_title %}{% trans 'Cancel Proposal' %}{% endblock %}

{% block body %}
    <h1>Cancel: {{ proposal.title }}</h1>
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans 'Você tem certeza que quer cancelar <b>{{ proposal.title }}</b>?' %}</p>
        <input class="btn btn-danger" type="submit" value="{% trans 'Tenho certeza' %}" />
        <a class="btn" href="{% url proposal_detail proposal.pk %}">{% trans 'Não, mantenha-o por enquanto' %}</a>
    </form>
{% endblock %}
